@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

.cmt-static {
  font-size: 12px;
  color: #6b7280;
  margin: 24px;
}
